<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="#" th:href="@{/company/home}">MarkMaster Company</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!-- links to the Home page -->
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/company/home}">Home</a>
                </li>
                <!-- links to the Manage Students page -->
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/company/students/1}">Manage Students</a>
                </li>
                <!-- links to the Add Students page -->
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/company/admin/add-students}">Add Students</a>
                </li>
                <!-- links to the List of Students page -->
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/company/student-names}">List of Students</a>
                </li>
                <!-- links to the Logout page -->
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
